<body>
    <h1 id="title-page"> Toodu </h1>

    <div class="container">
        <h2 id="title-form">Nova Task</h2> 
        <form id="form" [formGroup]="taskForm" (ngSubmit)="addTask">
            <div class="column">
                <!-- TITULO -->
                <input class="form-content" id="title" type="text" formControlName="title" placeholder="Digite aqui o título..."/>
                <!-- PRIORIDADE -->
                <select id="priority" class="form-content" formControlName="priority">
                    <option value="null" disabled selected>Prioridade</option>
                    <option value="Alta">Alta</option>
                    <option value="Media">Media</option>
                    <option value="Baixa">Baixa</option>
                </select>
                <!-- DATA -->
                <input type="date" class="form-content" id="duedate" formControlName="due-date"/>
            </div>


            <!-- DESCRICAO -->
            <textarea class="form-content" id="description" rows="5" formControlName="description" placeholder="Digite aqui a descrição..."></textarea>


            <!-- BOTAO -->
            <button type="button" id="add-button" type="submit">
                <div>Adicionar task</div> 
            </button>

            <button id="save-button" class="save-button" style="display: none;">Salvar</button>
        </form>
    </div>

    <div class="container">
        <ul id="list"></ul> 
    </div>
</body>